<footer>
    <div class="contact">
        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="smartphone"></mat-icon>
       
        <span>
            <p> Contato</p>
            <p> (19) 98359-2406</p>
            <p>sergio.fholovati@gmail.com</p>
           
        </span>
    </div>
    <div class="address">
        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>
        <span>
            <p> R. Antonio Martiliano de Campos, 440</p>
            <p> Indaiatuba - SP</p>
            <p>CEP: 13346-250</p>
        </span>
    </div>
</footer>